@model IEnumerable<LegendaryQuestion.Models.Query>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Question Answering Service</h1>
    <p class="lead">You have questions, we have answers</p>
    @*<p><a href="http://www.google.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<h2>Questions Waiting for Answers</h2>

<p>
    @Html.ActionLink("Ask A Question", "Create")

    @*@using (Html.BeginForm())
    {
    <p>
        Questions: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
    </p>
    }*@


    </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>




